*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Remove default margin */
}

header {
    position: sticky;
    top: 0;
    background-color: #4D7DF0; /* Deep Blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.header-namelogo {
    display: flex;
    align-items: center;
}

.ub-logo, .vokasi-logo {
    height: 30px;
    margin-right: 10px;
}

.header-name {
    font-weight: bold;
    font-size: 24px; /* Larger font size */
    color: #fff; /* White text */
}

.navbar {
    display: flex;
    height: 40px;
}

ul {
    margin: auto 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff; /* White text */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: color 0.3s ease; /* Smooth color transition */
}

ul:hover {
    color: #ffc107; /* Yellow on hover */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newspaper {
    width: 100%;
    margin: 0;
    display: flex;
    align-content: center;
    background-color: #f0f8ff; /* Alice Blue */
    margin-bottom: 30px;
}

.bodies-newspaper-images {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-left: 2px solid;
    border-right: 2px solid;
}

.maintopic-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items with space in between */
    margin-left: 40px;
}

.maintopic {
    display: flex;
    flex-direction: row;
    padding: 20px; /* Increased padding */
    border-radius: 10px;
    
}

.maintopic-img {
    width: 180px; /* Adjusted width */
     
    overflow: hidden; /* Hide image overflow */
}

.topic-img-next {
    width: 100%;
    height: auto;
}

.maintopic-desc {
    padding-left: 15px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    overflow: hidden;
}

.content-date {
    font-size: 10px; /* Increased font size */
    margin-bottom: 3px;
    color: #333; /* Dark Gray text */
}

.content-title {
    font-size: 24px; /* Larger font size */
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.content-desc {
    font-size: 10px;
    color: #444; /* Slightly darker text color */
}

aside {
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
   
   
    /* background-color: tomato; */
}

.aside-conten{
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 140px;
    margin-right: 20px;
}

.aside-img{
    overflow: hidden;
    width: 400px;
    margin: 7px 10px 10px 0px;
}

aside h3 {
    font-size: 15px; /* Adjusted font size */
    
}

aside p {
    font-size: 9px; /* Adjusted font size */
    
}
